/* css */    
html,body {
  height: 100%;
  width: 100%;

}

#map {
  height: 100%
}

#map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#jeodpp-menu-container {
  position: relative;
}

#jeodpp-menu-container #jeodpp-menu {
    position: fixed !important;
}
#jeodpp-menu-container #jeodpp-image-slider-wrapper {
    position: fixed !important;
}
.jeodpp-mapboxgl-ctrl {
    font-size: 22px;
}



.daterangepicker table th {
    background-color: #ed5565 !important;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    color: black;
}
.daterangepicker table tr th,
.daterangepicker table tr td {
    border-radius: 0px !important; 
}

div#block-mainnavigation {
    display: none;
}